#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.link-button {
  color: #646cff; /* Preserves the text color */
  background-color: #fff; /* Preserves the background color */
  padding: 5px 10px; /* Preserves padding */
  margin-right: 5px; /* Preserves margin to the right */
  border: 1px solid #646cff; /* Adds a purple border */
  border-radius: 5px; /* Preserves the rounded corners */
  text-decoration: none; /* Removes the underline from the link */
  display: inline-block; /* Allows the padding and border to be applied correctly */
  cursor: pointer; /* Changes the cursor to indicate it's clickable */
  /* Ensure to add :hover and other pseudo-classes to match the button styles */
}

.link-button:hover {
  /* Style for hover state, e.g., a darker purple border */
  border-color: #5555ff;
}
